input {
    cursor: pointer;
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--text-md);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    padding: 0px 16px;

}

input:focus {
    outline: none;
    border-color: var(--brand-light) ;
}



form {
    input#event-name {
        width: 560px;
        height: 48px;
    }
}

#event-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px;

    & input {
        width: 272px;
        height: 48px;
        text-transform: uppercase;
    }
}

#event-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px;
}

#start-date::-webkit-calendar-picker-indicator , 
#end-date::-webkit-calendar-picker-indicator {
    display: none;
} 

#event-local {
    padding: 16px;
    width: 272px;
    height: 48px;
    margin-top: -16px;
}

label.description {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

textarea#description {
    width: 560px;
    height: 136px;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    padding: 16px;
    font: var(--text-md);
    resize: none;
    cursor: pointer;
}

textarea#description:focus {
    outline: none;
    border-color: var(--brand-light);
  
}

input[type="radio"] {
    appearance: none; 
    transform: scale(0.9);
    height: 35px;
    border: 2px solid #333;
    border-radius: 50%;
    
    cursor: pointer;

    box-shadow: 0 0 3px 5px var(--shape-button);

    &#light-blue {
        background-color: var(--brand-light);
    }
    &#navy {
        background-color: var(--navy);
    }
    &#purple {
        background-color: var(--purple);
    }
    &#fuschia {
        background-color: var(--fuschia);
    }
    &#pink {
        background-color: var(--pink);
    }
    &#danger {
        background-color: var(--danger);
    }
    &#orange {
        background-color: var(--orange);
    }
    &#yellow {
        background-color: var(--yellow);
    }
    &#lime {
        background-color: var(--lime);
    }
    &#green {
        background-color: var(--green);
    }
    &#cyan {
        background-color: var(--cyan);
    }
}

input[type="radio"]:hover {
    box-shadow: 0 0 3px 5px var(--shape-hover);
    transform: scale(1.1);
}

input[type="radio"]:focus {

    outline: 2px solid var(--brand-light);
    outline-offset: 5px;
}

label.event-theme {
    margin-top: 28px;
    margin-bottom: -2px;
}

/* file-upload */

#file-upload-container {
    display: flex;
    flex-direction: column; 
    gap: 8px; 
}

#upload-button-container {
    display: inline-flex;
    align-items: center;
    gap: 8px; 
}

#cover-file {
    display: none;
}

#label-file {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0px;
    width: 119px;
    height: 40px;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-heading);
    background-color: var(--input-stroke);
    padding-left: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#file-name {
    font: var(--text-md);
    font-size: 0.875rem;
    color: var(--input-placeholder);
    white-space: nowrap; 
    padding-bottom: 13px;
}

#label-file:hover {
    background-color: var(--shape-hover);
}

.input-big {
    width: 100%;
    height: 48px;
}
.input-small {
    width: 100%;
    height: 48px;
    border-color: var(--input-stroke);
    background-color: var(--input-base);
    font: var(--text-md);
    color: var(--input-placeholder);
}

fieldset.terms {
    border-top: 1px solid var(--input-stroke);
    padding-top: 40px;
}

.custom-checkbox + label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

 
.custom-checkbox + label img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    transition: opacity 0.3s ease; 
}

  
.unchecked {
    display: inline-block; 
}

  
.checked {
    display: none; 
}

  
.custom-checkbox:checked + label .unchecked {
    display: none; 
}

.custom-checkbox:checked + label .checked {
    display: inline-block; 
}