input {
    cursor: pointer;
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--text-md);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    padding: 0px 16px;

}

input:focus {
    outline: none;
    border-color: var(--brand-light) ;
}



form {
    input#event-name {
        width: 560px;
        height: 48px;
    }
}

#event-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px;

    & input {
        width: 272px;
        height: 48px;
        text-transform: uppercase;
    }
}

#event-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px;
}

#start-date::-webkit-calendar-picker-indicator , 
#end-date::-webkit-calendar-picker-indicator {
    display: none;
} 

#event-local {
    padding: 16px;
    width: 272px;
    height: 48px;
    margin-top: -16px;
}

label.description {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

textarea#description {
    width: 560px;
    height: 136px;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    padding: 16px;
    font: var(--text-md);
    resize: none;
    cursor: pointer;
}

textarea#description:focus {
    outline: none;
    border-color: var(--brand-light);
  
}

input[type="radio"] {
    appearance: none; /* Remove o estilo padrão */
    width: 20px;
    height: 35px;
    border: 2px solid #333;
    border-radius: 50%;
    
    cursor: pointer;

    box-shadow: 0 0 3px 5px var(--shape-button);

    &#light-blue {
        background-color: var(--brand-light);
    }
    &#navy {
        background-color: var(--navy);
    }
    &#purple {
        background-color: var(--purple);
    }
    &#fuschia {
        background-color: var(--fuschia);
    }
    &#pink {
        background-color: var(--pink);
    }
    &#danger {
        background-color: var(--danger);
    }
    &#orange {
        background-color: var(--orange);
    }
    &#yellow {
        background-color: var(--yellow);
    }
    &#lime {
        background-color: var(--lime);
    }
    &#green {
        background-color: var(--green);
    }
    &#cyan {
        background-color: var(--cyan);
    }
}

input[type="radio"]:hover {
    box-shadow: 0 0 3px 5px var(--shape-hover);
}

input[type="radio"]:focus {
    outline: none;
    border-color: var(--brand-light);
}
