#back {
    display: grid;
    grid-template-columns: 400px 820px;
    background-color: var(--shape-background);
    justify-self: center;
    gap: 20px;
    padding: 20px;
    border-radius: 1.3rem;
    width: 1260px;
    height: 768px;
}

main {
    background-color: #1C1F21;
    overflow: auto;
    border: 20px solid var(--shape-background);
    border-radius: 1.3rem;
    margin: -20px;
    padding: 80px 130px;
    height: 768px;

    &::-webkit-scrollbar {
        display: none;
    }
}
aside {
    overflow: hidden;
}

h1 {
    margin-bottom: 40px;
}

fieldset {
    
    legend {
     display: flex;
     gap: 12px;
     align-items: center;
     margin-bottom: 24px;
     margin-top: 40px;
 
     img {
         width: 24px;
         height: 24px;
     }
 
     h2 {
         display: inline-block;
     }
    }
 
    label {
     display: flex;
     margin-bottom: 12px;
     margin-top: 16px;
     justify-self: left;
     align-items: center;
    }
 
 }

 #color-wrapper {
    display: flex;
    gap: 18px;
    margin-top: 22px;
 }







